<div class="card">
  <div class="card__update">
    <i class="icon--update fa-solid fa-pencil"></i>
    <i class="icon--delete fa-regular fa-trash-can"></i>
  </div>

  <figure class="card__image">
    <img src="{{ card.image }}" alt="" />
  </figure>

  <div class="card__description">
    <h3 class="card__description--title">{{ card.title }}</h3>
    <p class="card__description--content">{{ card.description }}</p>
    <h4 class="card__description--subtitle">Tegnologías:</h4>

    <div class="card__description--tech">
      <img
        *ngFor="let tech of card.techList"
        src="{{ tech.link }}"
        alt="{{ tech.name }}"
      />
    </div>

    <div class="card__description--button">
      <button routerLink="proyects/detail">Ver más</button>
    </div>
  </div>
</div>
