<form [formGroup]="formCheck" class="form">

  <div class="form__container">
    <div class="form__container--input">
      <span>JavaScript</span>
      <label>
        <input
          type="radio"
          value="primero"
          formControlName="check"
        />
      </label>
    </div>

    <div class="form__container--input">
      <span>Spring Boot</span>
      <label>
        <input
          type="radio"
          value="segundo"
          formControlName="check"
        />
      </label>
    </div>

    <div class="form__container--input">
      <span>Flutter</span>
      <label>
        <input
          type="radio"
          value="tercero"
          formControlName="check"
        />
      </label>
    </div>

  </div>

</form>
