.image__container {
  position: absolute;
  top: 55px;
  right: 0;
  width: 55%;

  @media (min-width: 375px) {
    top: 60px;
  }

  @media (min-width: 425px) {
    top: 70px;
  }

  @media (min-width: 580px) {
    width: 40%;
    top: 80px;
    right: 10%;
  }

  @media (min-width: 768px) {
    width: 40%;
    top: 100px;
    right: 7%;
  }

  @media (min-width: 1024px) {
    right: 0;
    left: 120px;
  }

  @media (min-width: 1200px) {
    top: 145px;
  }
}

.hero {
  position: relative;
  margin: 0 10px;
  top: -40px;

  &__description {

    &--contact {
      display: flex;
    }

    &--button {
      border: none;
      background-color: var(--darkBlue);
      padding: 5px 15px;
      color: var(--lightGray);
      font-size: 0.8rem;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  &__carousel {
    margin-top: 10px;

    &--title {
      margin-bottom: 10px;
      font-weight: 700;
    }
  }

  @media (min-width: 375px) {
    margin: 0 20px;
    top: -30px;
  }

  @media (min-width: 425px) {

    &__description {

      &--button {
        font-size: 1rem;
      }
    }
  }

  @media (min-width: 500px) {
    margin-left: 20px;
  }

  @media (min-width: 580px) {
    margin: 0 60px;

    &__description {

      &--button {
        font-size: 1.2rem;
      }
    }

    .hero__carousel {

      &--title {
        font-size: 1.2rem;
      }
    }

  }

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 40px;

    &__container--carousel {
      width: 50%;

      .hero__carousel {

        &--title {
          font-size: 1.2rem;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;

    &__description {

      &--contact {
        margin-top: 10px;
      }

      &--button {
        font-size: 1.5rem;
        margin-top: 20px;
      }
    }
  }
}

// sección proyectos
.proyects {
  margin: -25px 10px 0;

  &__title {
    font-weight: 700;
    margin-bottom: 15px;
  }

  .card__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  @media (min-width: 375px) {
    margin: -15px 20px;
  }

  @media (min-width: 580px) {
    margin: -15px 60px;

    &__title {
      font-size: 1.2rem;
    }

    .card__container {
      gap: 20px;
    }
  }

  @media (min-width: 768px) {

    .card__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1024px) {
    margin: -25px 40px;

    .card__container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    margin: -25px auto;
  }
}
