<app-header title="Bienvenido!"></app-header>
<app-img-hero></app-img-hero>

<section class="hero">

  <div class="hero__description">
    <app-description></app-description>

    <div class="hero__description--contact">
      <app-social-network *ngFor="let icon of socialNetwork" [icon]="icon">
      </app-social-network>
    </div>

    <button
    class="hero__description--button"
    routerLink="about-me/profile"
  >
    Más sobre mí
  </button>
  </div>

  <!-- segun el tamaño de la pantalla mostramos 3 o 4 en el carrusel -->
  <div class="hero__container--carousel">
    <div class="hero__carousel" *ngIf="cardsPerView === 4">
      <h4 class="hero__carousel--title">Tengo conocimientos en:</h4>
      <app-carousel
        [cardsPerView]="cardsPerView"
      ></app-carousel>
    </div>

    <div class="hero__carousel" *ngIf="cardsPerView === 3">
      <h4 class="hero__carousel--title">Tengo conocimientos en:</h4>
      <app-carousel
        [cardsPerView]="cardsPerView"
      ></app-carousel>
    </div>
  </div>

</section>

<!-- sección proyectos destacados -->
<section class="proyects">
  <h3 class="proyects__title">Proyectos destacados</h3>

  <div class="card__container">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
</section>
