.hero {
  position: relative;
  margin: 0 10px;
  top: -40px;

  &__description {

    &--contact {
      display: flex;
    }

    &--button {
      border: none;
      background-color: var(--darkBlue);
      padding: 5px 15px;
      color: var(--lightGray);
      font-size: 0.8rem;
      margin-top: 10px;
    }
  }

  @media (min-width: 375px) {
    margin: 0 20px;
    top: -30px;
  }

  @media (min-width: 425px) {

    &__description {

      &--button {
        font-size: 1rem;
      }
    }
  }

  @media (min-width: 500px) {
    margin-left: 20px;
  }

  @media (min-width: 580px) {
    margin: 0 30px;
    top: -40px;
    padding-left: 50px;

    &__description {

      &--button {
        font-size: 1.2rem;
      }
    }
  }

  @media (min-width: 768px) {
    padding-left: 60px;
  }

  @media (min-width: 1024px) {
    padding-left: 0;
    margin: 0 40px;
  }
}
