<app-header title="Más sobre mí"></app-header>

<div class="image__container">
  <app-img-hero></app-img-hero>
</div>

<section class="profile">
  <div class="profile__space"></div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet purus a dui efficitur aliquam. Duis blandit convallis risus, eu porta quam ultricies a.
    <br>
    <br>
    Maecenas non accumsan lorem. Suspendisse pellentesque ante non mauris feugiat venenatis. Quisque in tortor sed ligula condimentum feugiat. Phasellus molestie ex at dolor euismod vulputate. Duis ex libero, volutpat in felis sit amet, iaculis pharetra diam. Ut quis turpis vitae magna placerat fermentum. Phasellus a tincidunt dolor. Nullam feugiat metus vehicula, rhoncus diam quis, vulputate dui. Quisque porta dictum tellus ac rutrum. Nunc risus ante, molestie dapibus accumsan at, bibendum quis erat. Aenean a facilisis arcu. Vestibulum convallis nibh feugiat, blandit dolor sed, egestas justo. Proin ut hendrerit libero, vitae sagittis quam. Sed eleifend feugiat dui non luctus.
    <br>
    <br>
    Etiam sollicitudin ex in nisi ultrices, ut accumsan mi blandit. Phasellus et fermentum orci. Vivamus venenatis ex non molestie blandit. Maecenas venenatis erat nec ipsum viverra, et consequat turpis mollis. Phasellus bibendum commodo mattis. Morbi rhoncus ornare felis, at volutpat ante maximus ullamcorper. Etiam ornare scelerisque purus eu consequat. Quisque posuere arcu in tincidunt pulvinar. Sed porttitor nisl sit amet enim dictum sagittis. Pellentesque in iaculis massa.
    <br>
    <br>
    Curabitur efficitur quis justo efficitur fermentum. Duis ante velit, ornare sit amet lacinia ac, tincidunt in ante. Aenean aliquet purus lacus, quis lobortis velit hendrerit ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed pharetra luctus imperdiet. Praesent malesuada, mi non placerat iaculis, nisl neque convallis metus, ut fringilla tellus ante eget orci. Proin convallis porttitor turpis, sed semper magna tincidunt mattis. Nulla fermentum finibus odio at egestas. Duis eget diam ut augue tincidunt placerat. Nam rutrum facilisis mauris, sit amet maximus est sollicitudin eu. Integer eu ultrices tellus. Praesent viverra augue eu ante ornare iaculis. In hac habitasse platea dictumst. Integer id fringilla dolor.
    <br>
    <br>
    Mauris aliquet ligula nunc, id blandit felis accumsan non. Sed tempus pharetra nunc, pretium aliquet turpis vulputate vel. Maecenas facilisis mollis massa in interdum. Integer sed metus consectetur, aliquam nisl eu, lobortis tellus. Praesent imperdiet dui mattis sollicitudin ullamcorper. Vivamus consequat diam nunc, eget dignissim ipsum mattis tincidunt. Suspendisse non nibh ac ipsum suscipit interdum. Donec sed sem sed quam maximus finibus. Aliquam rhoncus sem ac ullamcorper ullamcorper. Donec nisi libero, blandit non erat quis, viverra sagittis metus. Pellentesque vel enim quis leo porta consectetur. Curabitur faucibus ipsum a ligula tristique, at mattis nisl facilisis.
    <br>
    <br>
    Nunc efficitur, nisl quis tempor pellentesque, diam turpis fermentum elit, ut pharetra urna arcu ullamcorper lacus. Nullam id sapien at arcu tristique sodales. Aliquam ligula eros, sagittis vitae hendrerit in, congue quis orci. Curabitur vulputate risus vel sem mollis efficitur. Aliquam maximus dapibus nisi a pharetra. Sed eleifend, est id viverra molestie, ante lectus tincidunt arcu, at condimentum nisi ligula rhoncus dolor. Donec tempor pretium blandit. Phasellus porta dictum est in ultricies. Etiam porta nisl ac magna condimentum, non imperdiet lectus fermentum. Pellentesque efficitur urna vel pharetra condimentum. Nunc ullamcorper a felis nec placerat.
</section>

<section class="buttons__container">
  <app-button title="Descargar CV"></app-button>
  <app-button title="Contáctame"></app-button>
</section>
