.hero__img {
  background-image: url('../../../assets/images/Me.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  min-height: 200px;

  @media (min-width: 375px) {
    background-position: right 20% top;
    min-height: 210px;
  }

  @media (min-width: 375px) {
    min-height: 220px;
  }

  @media (min-width: 425px) {
  }

  @media (min-width: 580px) {
    min-height: 250px;
  }

  @media (min-width: 768px) {
    min-height: 270px;
  }

  @media (min-width: 1200px) {
    min-height: 290px;
  }
}
